{% extends "public/templates/public_template.html" %}
{% block title%}Login{% endblock %}

{% block main%}

<section class="h-100" id="olvido-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">¿Olvidaste tu contraseña?</h1>
                           <p>Ingresá el e-mail con el que te registrate y te enviaremos los pasos a seguir para generar una nueva contraseña</p> 
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">E-Mail</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                <div class="invalid-feedback">
                                    Ingresá un correo electrónico válido
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Enviar link	
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                           Recordaste tu contraseña?<a href="/public/login" class="text-dark"> Ingresá</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock%}