{% extends "public/templates/public_template.html" %}
{% block title%}Login{% endblock %}

{% block main%}

<section class="h-100" id="reset-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Reseteo de contraseña</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Nueva contraseña</label>
                                <input id="password" type="password" class="form-control" name="password" value="" required autofocus>
                                <div class="invalid-feedback">
                                    Se requiere una contraseña	
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password-confirm">Confirmar contraseña</label>
                                <input id="password-confirm" type="password" class="form-control" name="password_confirm" required>
                                <div class="invalid-feedback">
                                    Confirma tu nueva contraseña
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" name="logout_devices" id="logout" class="form-check-input">
                                    <label for="logout" class="form-check-label">Cerrar sesion en todos los dispositivos</label>
                                </div>
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Reseteo	
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}