
{% extends "public/templates/public_template.html" %}
{% block title%}Login{% endblock %}

{% block main%}

<section class="h-100" id="registrar-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Hace tu reserva</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Servicio</label>
                                <input id="name" type="text" class="form-control" name="nombre" value="" required autofocus>
                                <div class="invalid-feedback">
                                    Se requiere el servicio	
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">Especialista</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required>
                                <div class="invalid-feedback">
                                    Se requiere elegir especialista.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Fecha</label>
                                <input id="fecha" type="text" class="form-control" name="fecha" value="" required>
                                <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="vehicle1"> I have a bike</label><br>
                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                <label for="vehicle2"> I have a car</label><br>
                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                <label for="vehicle3"> I have a boat</label> -->
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Hora</label>
                                <input id="hora" type="text" class="form-control" name="hora" value="" required>
                                
                            </div>
                            

                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Reservar	
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>




{% endblock%}